{% extends "network/layout.html" %}

{% block title %}
    QUACKer
{% endblock %}


{% block body %}

<!-------  FEEDS VIEW  ------->
<div id="feeds-view">
    <div id="feed-name">
    </div>
    <!-------  New post form  ------->
    <div class="row justify-content-center mb-2"> 
        <div class="col-lg-6 border rounded shadow-sm bg-white">
            <form id="post-form">
                <div class="row">
                    <div class="col">
                        <h5>New Post</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" type="text" placeholder="What are you thinking?"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <input class="btn btn-primary btn-sm" value="Quack" type="submit">
                    </div>
                </div>    
            </form>    
        </div>
    </div>
    <!-- Actual feed rendered here -->
</div>
{% endblock %}

{% block script %}
    
{% endblock %}