{% extends "network/layout.html" %}

{% block title %}
    TODO
{% endblock %}


{% block body %}
<!-------  NEW POST FORM  ------->
<h3 class="text-center">All Posts</h3>
<div class="row justify-content-center"> 
    <div class="col-lg-6 border rounded shadow-sm bg-white">
        <form>
            <p class="m-1">New Post</p>
            <textarea class="form-control" type="text" placeholder="What are you thinking..."></textarea>
            <input class="btn btn-primary btn-sm m-1" type="submit">
        </form>    
    </div>
</div>

<!-------  ALL POSTS VIEW  ------->
<div id="all-posts-view">
    ALL POSTS VIEW 
</div>
{% endblock %}

{% block script %}
    
{% endblock %}