{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social Network: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        
        {% block script %}
        {% endblock %}
    </head>
    <body class="bg-white text-secondary">
        <div class="container sticky-top">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-lg-6 border rounded-lg shadow-sm bg-white">
                    <nav class="navbar navbar-expand-lg navbar-light"> 
                        
                        <a class="navbar-brand" href="#"><img src="{% static 'network/quacker-logo.png' %}" alt="ImgLogo" height="50px"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            
                            <div>
                                <ul class="navbar-nav pt-2">
                                    {% if user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><strong class="my-text">{{ user.username }} </strong><i class="fas fa-user ml-2"></i></a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item bg-">
                                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i></a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fas fa-user-friends"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-power-off"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        
                        </div>
                    </nav>
                </div>
                <div class="col">
                </div>
            </div>
        </div>


        <div class="body">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        
        <!-- SCRIPTS -->
        <script src="{% static 'network/index.js' %}"></script>
        <script src="{% static 'network/add_post.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>