#fa-rss {
    font-size: 12px;
    color: rgb(67, 165, 249);
}
#fa-rss {
    font-size: 12px;
    color: rgb(67, 165, 249);
}

.fas {
    font-size: 18px;
    color: rgb(67, 165, 249);
    
}
.fas:hover {
    
    color: rgb(7, 135, 249);
}

.my-btn {
    color: white;
    background-color: rgb(67, 165, 249);
}

.my-btn:hover {
    color: white;
    background-color: rgb(7, 135, 249);
}

.my-text {
    color: rgb(67, 165, 249);
    font-weight: bold;
}

.my-text:hover {
    color: rgb(7, 135, 249);
    font-weight: bold;
}