#fa-rss {
    font-size: 12px;
    color: rgb(67, 165, 249);
}
#fa-rss:hover {
    font-size: 12px;
    color: rgb(67, 165, 249);
}

#fa-rss-white {
    font-size: 12px;
    color: white;
}

#fa-rss-white:hover {
    font-size: 12px;
    
}

.fa-home, .fa-user, .fa-user-friends, .fa-user-plus, .fa-power-off {
    font-size: 18px;
    color: rgb(67, 165, 249);
    
}
.fa-home:hover {
    
    color: rgb(7, 135, 249);
}

.my-btn {
    color: white;
    background-color: rgb(67, 165, 249);
}

.my-btn:hover {
    color: white;
    background-color: rgb(7, 135, 249);
}

.my-text {
    color: rgb(67, 165, 249);
    font-weight: bold;
}

.my-text:hover {
    color: rgb(7, 135, 249);
    font-weight: bold;
}